    <% layout('layouts/boilerplate') %>

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card mb-3">
                <img class="card-img-top" src="<%= trail.image%>" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title"><%= trail.title%></h5>
                  <p class="card-text"><%= trail.description%></p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item text-muted"><%= trail.location%></li>
                </ul>
                <div class="card-body">
                  <a class="card-link btn btn-secondary" href="/trails/<%= trail._id%>/edit">Edit</a>
                  <form class="d-inline"action="/trails/<%=trail._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-dark">Delete</button>
                </form>
                </div>
              </div>
        </div>
    </div>

